* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --dark-pink: #F44849;
    --small: 12px;
    --medium: 16px;
    --large: 20px;
}
body {
    font-family: 'Dosis', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: start;
    width: 100%;
    min-width: 320px;
    height: auto;
}
.nav-bar {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
}
.magnifying-glass-icon {
padding: 20px;
}
.hamburguer-menu-icon {
    padding: 20px;
}
.title-container {
    background: var(--dark-pink);
}
.title {
     color: white;
     font-size: var(--large);
     font-weight: 700;
     padding: 20px;
     text-align: center;
}
.blog-intro {
    display: block;
    padding: 12px 33px;
}
.text-home-page {
    text-align: center;
    color: black;
    padding: 8px;
    font-size: medium;
    font-weight: 500;
    margin-bottom: 15px;
}
.images-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 0 33px;
}
.image {
    width: 160px;
    height: 175px;
    object-fit: cover;
    margin-top: 10px;
}
.article-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding: 0 33px;
    margin-top: 15px;
    justify-content: center;
    text-align: center;
}
.subtitle {
    position: relative;
     color: black;
     font-size: 24px;
     font-weight: 800;
     text-align: center;
     margin-top: 15px;
    }
    .text-line {
        border-bottom:  2px solid var(--dark-pink);
        padding-bottom: 15px;
}

.restaurant-recommendation-image {
    margin: 20px 8px 12px;
}
.instagram-link {
    margin-top: 8px;
    font-weight: 700;
    color: black;
    border-bottom:  2px solid var(--dark-pink);
    padding-bottom: 15px;
}
.images-container--slider {
    display: flex;
    height: 300px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    justify-content: center;
}
.pictures-container--card {
    position: relative;
    scroll-snap-align: center;
    /* width: 70%; */
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 30px 5px 0;
    /* padding: 0 15px; */
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(89 73 30 / 16%);
    
}
.images-link {
    
}
.images-card {
    width: 70%;
    min-width: 190px;
    max-width: 310px;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
}
.footer  {
    display: flex;
    justify-content: space-around;
    background-color: var(--dark-pink);
    height: 60px;
    align-content: center;
}
.footer-text {
    color: white;
    font-size: var(--small);
    width: 220px;
    margin: 5px;
    text-align: left;
}
.social-networks {
    margin: 8px 20px;
    color: white;
    font-size: var(--small);
}
.follow-text {
    margin-top: 2px;
    margin-bottom: 8px;
}
.social-logo {
    width: 15px;
    height: 15px;
    margin-left: 2px;
}
/* height: 491px;
    object-fit: cover; */