* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --dark-pink: #F44849;
    --medium-pink: #FCA5A5;
    --light-pink: #FEE2E2;
    --small: 12px;
    --medium: 16px;
    --large: 20px;
}
body {
    font-family: 'Dosis', sans-serif;
}
header {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: start;
    width: 100%;
    min-width: 400px;
    height: auto;
}
.mobile-nav-bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    background: var(--dark-pink);
}
.navbar-left {
    display: none;
}
.cover-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.input-wrapper {
    display: none;
}
.magnifying-glass-icon-mobile {
    padding: 20px;
}
.hamburguer-menu-icon {
    padding: 20px;
}
main {
    min-width: 400px;
}
.title-container {
   
}
.title {
     color: white;
     font-size: var(--large);
     font-weight: 700;
     padding: 20px;
     text-align: center;
}
.blog-intro-container {
    display: grid;
    height: 550px;
    place-items: center;

}
.blog-intro {
    display: block;
}
.text-home-page {
    text-align: justify;
    color: black;
    width: 350px;
    font-size: var(--medium);
    font-weight: 500;
    margin: 0 20px;
}
.images-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 350px;
    place-items: center;
}
.image {
    width: 175px;
    height: 175px;
    object-fit: cover;
}
.grid-container {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    text-align: center;
}
.subtitle {
    position: relative;
     color: black;
     font-size: 24px;
     font-weight: 800;
     text-align: center;
     margin: 10px 30px;
    }
.text-line {
    border-bottom:  2px solid var(--dark-pink);
    padding-bottom: 15px;
}
.article-title {
    font-size: var(--large);
    margin-bottom: 16px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}
.article-text{
    margin-bottom: 16px;
}
.images-blog-post {
    margin: 20px 0 16px;
    width: 350px;
    height: 220px;
    object-fit: cover;
}
.instagram-link {
    margin-top: 8px;
    font-weight: 700;
    color: black;   
}
.post-container {
    margin-bottom: 20px;
    width: 400px;
    height: auto;
    justify-content: center;
}
.line {
    margin: 15px 20px;
    border-bottom:  2px solid var(--dark-pink);
}
.article-post-container {
    margin-bottom: 20px;
    width: 400px;
    height: auto;
    justify-content: center;
}
.main-button {
    background-color: var(--dark-pink);
    color: white;
    font-weight:700;
    font-size: var(--small);
    border: none;
    padding: 12px;
    border-radius: 8px;
}
.pictures-title {
    border-bottom:  2px solid var(--dark-pink);
    padding-bottom: 16px;
    margin: 0 30px;
}
.images-container--slider {
    display: flex;
    height: 300px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    justify-content: center;
    margin-bottom: 20px;
}
/* hide scrollbar but allow scrolling */
.images-container--slider {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}
.images-container--slider::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.pictures-container--card {
    position: relative;
    scroll-snap-align: center;
    /* width: 70%; */
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 30px 5px 0;
    /* padding: 0 15px; */
    background-color: white;
    border-radius: 15px;
    /* box-shadow: 0 4px 8px rgb(89 73 30 / 16%); */
}
.images-card {
    width: 70%;
    min-width: 190px;
    max-width: 310px;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
}
.extra-card {
    display: none;
}
.footer  {
    display: flex;
    justify-content: space-around;
    background-color: var(--dark-pink);
    align-content: center;
    min-width: 400px;
}
.footer-text {
    color: white;
    font-size: var(--small);
    margin: 10px;
    text-align: center;
    width: 60%;
}
.social-networks {
    margin: 8px;
    color: white;
    font-size: var(--small);
    width: 20%;
}
.follow-text {
    margin-top: 2px;
    margin-bottom: 8px;
}
.social-logo {
    width: 15px;
    height: 15px;
    margin-left: 2px;
}
/* .inactive {
    display: none;
} */
/* height: 491px;
    object-fit: cover; */
    
/* blog-articles */
.blog-articles--intro-container {
    background-color: var(--light-pink);
    place-items: center;
    padding: 30px;
}
.blog-article--desktop-img-container {
    display: none;
}
.text-blog-article{
    text-align: justify;
    color: black;
    font-size: var(--medium);
    font-weight: 500;
}
.blog-articles--images-container-slider {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    justify-content: start;
}
/* hide scrollbar but allow scrolling */
.blog-articles--images-container-slider {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}
.blog-articles--images-container-slider::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.label-container--card {
    background-color: var(--medium-pink);
    position: relative;
    scroll-snap-align: center;
    /* min-width: 60px;
    max-width: 70px; */
    margin: 15px 5px;
    padding: 5px 15px;
    border-radius: 15px;
    /* box-shadow: 0 4px 8px rgb(89 73 30 / 16%); */
    text-decoration: none;
}
.label-container--card a {
    color: black;
    text-decoration: none;
}

/* blog-content */
.blog-content-container {
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    text-align: center;
}

.content-image {

}
.blog-article-title {
    font-size: var(--large);
    margin: 15px 20px 0;
    font-weight: bold;
    text-align: center;
    border-bottom:  2px solid var(--dark-pink);
}
/* .inactive {
    display: none;
} */

    @media (min-width: 760px){ 
        .cover-image {
            height: 600px;
            object-fit: cover;
        }
        .images-container {
            display: grid;
            margin: 20px 20px;
            grid-template-columns: 200px 200px;
            justify-content: space-around;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .image {
            width: 200px;
            height: 215px;
            object-fit: cover;
        }
        .image3 {
            width: 320px;
            height: 215px;
            margin-top: 0;
        }
        .images-blog-post {
            margin: 20px 0 12px;
            width: 320px;
            height: 220px;
            object-fit: cover;
        }
        .text-home-page {
            margin: 10px 20px;
            place-items: center;
        }
        .grid-container {
            display: grid;
            grid-template-columns: 400px 400px;
        }
        .blog-intro-container {
            height: 500px;
            display: grid;
            grid-template-columns: 400px 400px;
            justify-content: center;
        }
        .blog-intro {
            grid-column-start: 2;
            grid-column-end: 3;
            font-size: var(--large);
        }
        .extra-card {
            display: inline-block;
        }
        /* .text-intro {
            place-content: center;
        } */
        .blog-articles--images-container-slider {
            justify-content: center;
        }
        .desktop-article {
            display: none;
        }
        .blog-content-container {
            
        }
        .article-post-container {
            width: auto;
            margin: 20px;
        }
        .text-home-page {
            width: auto;
        }
        
    }

@media (min-width: 1500px){   
    .title {
        display: none;
    }
    .desktop-nav-bar {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        background-color: var(--dark-pink);
        justify-content: end;
        padding: 10px;
    }
    .navbar-left {
        display: grid;  
        margin-left: 200px; 
    }
    .nav-bar-list {
        display: flex;
        justify-items: end;
        align-items: center;
        justify-content: space-between;
        justify-self: end;
    }
    .item {
        align-items: center;
        margin: 5px 20px;
        list-style: none;
        }
    .item a{
        text-decoration: none;
        color: white;  
        font-weight: 800px; 
    }
    .hamburguer-menu-icon {
        display: none;
    }
    .mobile-nav-bar {
        display: none;
    }
    .input-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;  
        width: 430px;
    }
    .magnifying-glass-icon-desktop{
        place-items: end;
        width: 30px;
        background-color: var(--light-pink);
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        padding: 5px;
    }
    .magnifying-glass-icon-desktop img {
        width: 20px;
        height: 20px;
    }
    .search-bar {
        background-color: var(--light-pink);
        border-style: none;
        padding-left: 10px;
        width: 350px;
        margin-left: 100px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        outline: none;
    }
    .blog-intro-container {
        background-color: var(--light-pink);
        grid-template-columns: 450px 500px;
    }
    .main-button {
        cursor: pointer;
        margin: 10px;
    }
    .images-container {
        display: grid;
        margin: 25px 20px;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
        justify-content: space-between;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .cover-image {
        display: none;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 400px 400px;
    }
    .text-home-page {
        margin: 10px 20px;
    }

    .blog-intro {
        grid-column-start: 2;
        grid-column-end: 3;
    }
    /* blog-articles */
    .blog-articles--intro-container {
        display: flex;
        place-content: center;
        justify-content: center;
        
    }
    .blog-article--desktop-img-container {
        display: inline-block;
    }
    .blog-articles-intro {
        width: 750px;
        padding: 20px;
        place-self: center;
        margin-left: 50px;
    }
    .grid-container-desktop {
        grid-template-columns: 400px 400px 400px;
    }
    .desktop-article {
        display: inline-block;
    }
}